/var
!/var/plugins.json
/.*
**/*.git
**/node_modules

/config/jwt/*
!/config/jwt/.gitignore

/artifacts

docker-compose.yml
docker-compose.override.yml

/platform

/repos

/var/build-cache
/public/theme