/var
!/var/plugins.json
!/var/.htaccess
/.*
!/.htaccess
**/*.git
**/node_modules

/config/jwt/*
!/config/jwt/.gitignore

/artifacts

docker-compose.yml
docker-compose.override.yml

/platform

/repos

/var/build-cache
/public/theme

/public/media
/public/sitemap
/public/theme
/public/thumbnail
/artifacts
