custom/*
!custom/plugins/.gitkeep
!custom/static-plugins/

/vendor/
/bin/vendor/

/.idea
/docker-compose.override.yml

/config/packages/local.yaml
/config/packages/local.yml

/public/fonts/*
!/public/fonts/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/media/*
!/public/media/.gitkeep
/public/theme/*
/public/thumbnail/*
!/public/thumbnail/.gitkeep
/public/plugins/*
/public/assets/*

/files/*

/platform/
/repos/

.env

.cache/

.envrc

/var/*
!/var/log/.gitkeep
!/var/cache/.gitkeep
!/var/queue/.gitkeep
!/var/test/.gitkeep
!/var/plugins.json
