DirectoryIndex index.html

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_alias.c>
    # Restrict access to VCS directories
    RedirectMatch 404 /\\.(svn|git|hg|bzr|cvs)(/|$)

    # Restrict access to root folder files
    RedirectMatch 404 /(composer\.(json|lock|phar)|README\.md|\.gitignore|.*\.dist|\.env.*)$

    # Restrict access to shop configs files
    RedirectMatch 404 ^.*\/(bin|config|build|custom|files|src|var|vendor)\/(?<!public).*$
</IfModule>

