<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
         bootstrap="tests/TestBootstrap.php"
         cacheResult="false"
         cacheTokens="false"
         executionOrder="random"
>

    <php>
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuite name="all">
        <directory>./tests/</directory>
        <exclude>./tests/Service/fixtures/</exclude>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
